@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

body {
    background-image:url(https://github.com/emacrdz/amoAmar/blob/main/img/background.jpeg?raw=true);
    background-color: #000;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.menu__SectionTop {
    display: flex;
    justify-content: center;
    padding: 40px 0px 10px 0px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 800;
}

.content {
    height: 750px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
}

.content__Img {
    display: flex;
    justify-content: center;
    padding: 10px 60px;
}

.Img {    
    max-width: 400px;
    max-height: 400px;
}

.firstImage {
    padding-left: 34px;
}

.lastImage {
    padding-right: 34px;
}

.dateImg {
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
    font-weight: 300;
}

.infoImg {
    font-size: 26px;
    padding-top: 3px;
    text-align: center;
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #00000000;
    border-radius: 800px;
}

.footer {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#toTheStart {
    text-decoration: none;
    color: rgb(240, 248, 255);
    transition: 0.3s;
}

#toTheStart:hover {
    letter-spacing: 4px;
}

@media (min-width: 900px) {

.menu__SectionTop {
    font-size: 26px;
    padding-top: 20px;
}

.content {
    height: 560px;
}

.content__Img {
    padding: 10px 60px;
}

.dateImg {
    font-size: 14px;
}

.infoImg {
    font-size: 20px;
}

.infoImg {
    height: 100;
    overflow: auto;
}

::-webkit-scrollbar {
    height: 8px;
    width: 6px;
}

.footer {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

}
